@import "tailwindcss";

@layer utilities {
  .text-2xs {
    font-size: 0.7rem; /* 10.4px */
    line-height: 0.75rem; /* Adjust line-height for readability */
  }

  .grid-layout-m {
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: auto 10fr 1fr auto;
    grid-template-areas:
      "top"
      "main"
      "playback"
      "nav";
  }

  .grid-top-m {
    grid-area: top;
  }

  .grid-main-m {
    grid-area: main;
  }

  .grid-playback-m {
    grid-area: playback;
  }

  .grid-nav-m {
    grid-area: nav;
  }

  /* ! LARGE */
  .grid-layout-l {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 0.5fr 10fr 1fr;
    grid-template-areas:
      "nav nav"
      "sidebar main"
      "playback playback";
  }

  .grid-nav-l {
    grid-area: nav;
  }

  .grid-sidebar-l {
    grid-area: sidebar;
  }

  .grid-main-l {
    grid-area: main;
  }

  .grid-playback-l {
    grid-area: playback;
  }

  .playlist-item {
    @apply grid max-w-[95%] grid-cols-[auto_1fr] items-center gap-x-2 truncate p-0.5 text-sm md:gap-x-3;
  }

  .playlist-title {
    @apply self-end truncate text-xs sm:text-sm md:text-base lg:text-lg;
  }

  .playlist-owner {
    @apply text-xs italic sm:text-sm;
  }

  .playlist-row {
    @apply grid grid-cols-[3fr_1.2fr] grid-rows-1 items-center justify-between border border-b-1 px-1 sm:grid-cols-[3fr_2.5fr_1.5fr] md:px-2 lg:grid-cols-[3fr_2fr_1fr_1fr] lg:px-3;
  }

  .track-utilities {
    @apply grid grid-cols-3 items-center justify-between gap-2 lg:gap-6;
  }

  .top-track-row {
    @apply container grid grid-cols-[3.3fr_1.1fr] items-center justify-between border border-b-1 px-2 sm:grid-cols-[3.3fr_1.1fr_0.9fr] lg:px-3;
  }

  .fullPreviewContainer {
    @apply flex h-full flex-col overflow-y-scroll bg-amber-800 p-3 md:p-4;
  }
}

body,
html {
  margin: 0 auto;
  max-width: 100svw;
  /* min-height: 100lvh; */
  overflow: hidden;
}
