@import "tailwindcss";

@layer utilities {
  .text-2xs {
    font-size: 0.7rem; /* 10.4px */
    line-height: 0.75rem; /* Adjust line-height for readability */
  }

  .grid-layout-m {
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: auto 10fr 1fr auto;
    grid-template-areas:
      "top"
      "main"
      "playback"
      "nav";
  }

  .grid-top-m {
    grid-area: top;
  }

  .grid-main-m {
    grid-area: main;
  }

  .grid-playback-m {
    grid-area: playback;
  }

  .grid-nav-m {
    grid-area: nav;
  }

  /* ! LARGE */
  .grid-layout-l {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 0.5fr 10fr 1fr;
    grid-template-areas:
      "nav nav"
      "sidebar main"
      "playback playback";
  }

  .grid-nav-l {
    grid-area: nav;
  }

  .grid-sidebar-l {
    grid-area: sidebar;
  }

  .grid-main-l {
    grid-area: main;
  }

  .grid-playback-l {
    grid-area: playback;
  }

  .playlist-item {
    @apply grid grid-cols-[1fr_4fr] grid-rows-[1fr_1fr] items-center truncate p-1 md:p-1.5 lg:grid-cols-[1fr_5fr];
  }

  .playlist-title {
    @apply self-end truncate text-xs sm:text-sm;
  }

  .playlist-owner {
    @apply text-xs italic sm:text-sm;
  }

  .playlist-row {
    @apply container grid grid-cols-[3fr_1fr] items-center justify-between border border-b-2 px-2 sm:grid-cols-[3fr_1fr_1fr] lg:grid-cols-[3fr_1.5fr_1fr_1fr] lg:px-3;
  }
}

body,
html {
  margin: 0 auto;
  max-width: 100vw;
  overflow-x: hidden;
}
